# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
myenv/

# Git
.git/
.gitignore

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/

# Environment Files
.env
.env.docker

# Test files 
tests/