# ==================================================
# Python
# ==================================================

__pycache__/
*.py[cod]
*$py.class

# ==================================================
# Virtual Environments
# ==================================================

myenv/
venv/
env/
.venv/

# ==================================================
# Environment Variables
# ==================================================

.env

# ==================================================
# Test / Coverage
# ==================================================

.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ==================================================
# IDEs
# ==================================================

.vscode/
.idea/

# ==================================================
# OS Files
# ==================================================

.DS_Store
Thumbs.db

# ==================================================
# Logs
# ==================================================

*.log

# ==================================================
# Build Files
# ==================================================

build/
dist/
*.egg-info/

# Docker
*.pid
postgres_data/